{% extends 'OroUIBundle:actions:view.html.twig' %}
{% import 'OroUIBundle::macros.html.twig' as UI %}
{% import 'OroEntityConfigBundle::macros.html.twig' as entityConfig %}

{% oro_title_set({params : {"%entity.name%": entity.name|default('N/A') }}) %}

{% block navButtons %}
    {% if resource_granted('EDIT', entity) %}
        {% if not entity.offerItems or entity.offerItems|length==0%}
            {{ UI.editButton({
                'path' : path('cb_newage_offer_update', { id: entity.id }),
                'entity_label': 'cb.newage.offer.entity_label'|trans
            }) }}
        {% endif %}
        {% if not entity.reservationItems or entity.reservationItems|length==0%}
            {{ UI.editButton({
                'path': path('cb_newage_offer_select', { 'id': entity.id }),
                'aCss': 'no-hash',
                'iCss': 'icon-ellipsis-vertical',
                'label': 'cb.newage.offer.select_panel_views.label'|trans
            }) }}
        {% endif %}
    {% endif %}
{% endblock navButtons %}

{% block pageHeader %}
    {% set breadcrumbs = {
    'entity': entity,
    'indexPath': path('cb_newage_offer_index'),
    'indexLabel': 'cb.newage.offer.entity_plural_label'|trans,
    'entityTitle': entity.name
    } %}

    {{ parent() }}
{% endblock pageHeader %}

{% block stats %}
    {% include 'CBNewAgeBundle:Offer:headerStats.html.twig' with {'entity': entity} %}
{% endblock stats %}

{% block content_data %}
    {%- set offerInformation -%}
    <div class="row-fluid form-horizontal">
        <div class="responsive-block">
            {{ UI.renderProperty('cb.newage.offer.name.label'|trans, entity.name) }}
            {{ UI.renderProperty('cb.newage.offer.start.label'|trans, entity.start|oro_format_date) }}
            {{ UI.renderProperty('cb.newage.offer.end.label'|trans, entity.end|oro_format_date) }}

            {%- set offerData -%}
                {%- if entity.client -%}
                    <a href="{{ path('cb_newage_client_view', {'id': entity.client.id}) }}">
                        {{ entity.client }}
                    </a>
                {%- endif -%}
            {%- endset -%}

            {{ UI.renderHtmlProperty('cb.newage.offer.entity_label'|trans, offerData) }}

        </div>
        <div class="responsive-block">
            {{ entityConfig.renderDynamicFields(entity) }}
        </div>
    </div>
    {%- endset -%}

    {% set dataBlocks = [
    {
        'title': 'cb.newage.offer.block.general'|trans,
        'class': 'active',
        'subblocks': [
            {'data' : [offerInformation]}
        ]
    }
    ] %}

    {% if entity.reservationItems and entity.reservationItems|length>0%}
        {% import 'OroDataGridBundle::macros.html.twig' as dataGrid %}

        {% set gridName = 'confirmed-items-grid' %}

        {% set params = {
            offer: entity.id
        } %}

        {%- set gridConfirmedItems -%}
            {% if gridName is defined %}
                {% if gridScope is defined %}
                    {% set gridName = oro_datagrid_build_fullname(gridName, gridScope) %}
                {% endif %}
                {% if params is defined %}
                    {{ dataGrid.renderGrid(gridName, params) }}
                {% else %}
                    {{ dataGrid.renderGrid(gridName) }}
                {% endif %}
            {% endif %}
        {%- endset -%}

        {% set dataBlocks = dataBlocks|merge([
        {
        'title': 'cb.newage.offer.confirmed_panel_views.label'|trans,
        'subblocks': [
        {'data' : [gridConfirmedItems]}
        ]
        }
        ]) %}
    {% endif %}

    {% if entity.reservationItems and entity.reservationItems|length>0%}
        {% import 'OroDataGridBundle::macros.html.twig' as dataGrid %}

        {% set gridName = 'reservation-items-grid' %}

        {% set params = {
        offer: entity.id
        } %}

        {%- set gridReservationItems -%}
            {% if gridName is defined %}
                {% if gridScope is defined %}
                    {% set gridName = oro_datagrid_build_fullname(gridName, gridScope) %}
                {% endif %}
                {% if params is defined %}
                    {{ dataGrid.renderGrid(gridName, params) }}
                {% else %}
                    {{ dataGrid.renderGrid(gridName) }}
                {% endif %}
            {% endif %}
        {%- endset -%}

        {% set dataBlocks = dataBlocks|merge([
        {
        'title': 'cb.newage.offer.reserved_panel_views.label'|trans,
        'subblocks': [
        {'data' : [gridReservationItems]}
        ]
        }
        ]) %}
    {% endif %}

    {% if entity.offerItems and entity.offerItems|length>0 %}
        {% import 'OroDataGridBundle::macros.html.twig' as dataGrid %}

        {% set gridName = 'offer-items-grid' %}

        {% set params = {
            offer: entity.id
        } %}

        {%- set gridOfferItems -%}
            {% if gridName is defined %}
                {% if gridScope is defined %}
                    {% set gridName = oro_datagrid_build_fullname(gridName, gridScope) %}
                {% endif %}
                {% if params is defined %}
                    {{ dataGrid.renderGrid(gridName, params) }}
                {% else %}
                    {{ dataGrid.renderGrid(gridName) }}
                {% endif %}
            {% endif %}
        {%- endset -%}

        {% set dataBlocks = dataBlocks|merge([
        {
        'title': 'cb.newage.offer.offered_panel_views.label'|trans,
        'subblocks': [
        {'data' : [gridOfferItems]}
        ]
        }
        ]) %}
    {% endif %}

    {% set id = 'offerView' %}
    {% set data = { 'dataBlocks': dataBlocks } %}

    {{ parent() }}
{% endblock content_data %}