{% extends 'OroUIBundle:actions:view.html.twig' %}
{% import 'OroUIBundle::macros.html.twig' as UI %}
{% import 'OroEntityConfigBundle::macros.html.twig' as entityConfig %}

{% block stats %}
{% endblock %}

{% oro_title_set({params : {"%entity.name%": entity.panel ~ ' ' ~ entity.name|default('N/A') }}) %}

{% block navButtons %}
    {% if resource_granted('EDIT', entity) %}
        {{ UI.editButton({
        'path' : path('cb_newage_panel_view_update', { id: entity.id }),
        'entity_label': 'cb.newage.panelview.entity_label'|trans
        }) }}
    {% endif %}
    {% if resource_granted('DELETE', entity) %}
        {{ UI.deleteButton({
        'dataUrl': path('cb_newage_panel_view_api_delete_panel_view', {'id': entity.id}),
        'dataRedirect': path('cb_newage_panel_view_index'),
        'aCss': 'no-hash remove-button',
        'id': 'btn-remove-user',
        'dataId': entity.id,
        'entity_label': 'cb.newage.panelview.entity_label'|trans
        }) }}
    {% endif %}
{% endblock navButtons %}

{% block pageHeader %}
    {% set breadcrumbs = {
    'entity': entity,
    'indexPath': path('cb_newage_panel_view_index'),
    'indexLabel': 'cb.newage.panelview.entity_plural_label'|trans,
    'entityTitle': entity.panel ~ ' ' ~ entity.name
    } %}

    {{ parent() }}
{% endblock pageHeader %}

{% block content_data %}
    {%- set panelViewInformation -%}
    <div class="row-fluid form-horizontal">
        <div class="responsive-block">

            {%- set panelData -%}
                {%- if entity.panel -%}
                    <a href="{{ path('cb_newage_panel_view', {'id': entity.panel.id}) }}">
                        {{ entity.panel }}
                    </a>
                {%- endif -%}
            {%- endset -%}
            {{ UI.renderHtmlProperty('cb.newage.panel.entity_label'|trans, panelData) }}

            {{ UI.renderProperty('cb.newage.panelview.name.label'|trans, entity.name) }}

            {%- set scketchingData -%}
                {%- if entity.sketch -%}
                    <a href="{{ entity.sketch }}" target="_blank">
                        {{ entity.sketch }}
                    </a>
                {%- endif -%}
            {%- endset -%}
            {{ UI.renderhtmlProperty('cb.newage.panelview.sketch.label'|trans, scketchingData) }}

            {%- set urlData -%}
                {%- if entity.url -%}
                    <a href="{{ entity.url }}" target="_blank">
                        {{ entity.url }}
                    </a>
                {%- endif -%}
            {%- endset -%}
            {{ UI.renderhtmlProperty('cb.newage.panelview.url.label'|trans, urlData) }}
            {{ UI.renderhtmlProperty('cb.newage.panelview.poster.label'|trans, entity.poster) }}
            {{ UI.renderhtmlProperty('cb.newage.panelview.price.label'|trans, entity.price|oro_format_currency) }}
        </div>
        <div class="responsive-block">
            {{ entityConfig.renderDynamicFields(entity) }}
        </div>
    </div>
    {%- endset -%}
    {% set dataBlocks = [
    {
    'title': 'cb.newage.panelview.block.general'|trans,
    'class': 'active',
    'subblocks': [
    {'data' : [panelViewInformation]}
    ]
    }
    ] %}


    {% set id = 'panelViewView' %}
    {% set data = { 'dataBlocks': dataBlocks } %}

    {{ parent() }}
{% endblock content_data %}
