{% macro scheduler_event_view_template(id) %}

<script type="text/html" id="{{ id }}">
    {% import 'OroUIBundle::macros.html.twig' as UI %}
    <div class="widget-content">
        <div class="row-fluid form-horizontal">
            <div class="responsive-block">
                {{ UI.renderHtmlProperty('cb.newage.panel_view.entity_label'|trans, '<%= formatter.string(resourceName) %>') }}
                {{ UI.renderHtmlProperty('cb.newage.client.entity_label'|trans, '<%= formatter.string(title) %>') }}
                {{ UI.renderHtmlProperty('cb.scheduler.scheduler_event.start.label'|trans, '<%= formatter.date(start) %>') }}
                {{ UI.renderHtmlProperty('cb.scheduler.scheduler_event.end.label'|trans, '<%= formatter.date(end) %>') }}

                <div class="widget-actions form-actions" style="display: none;">
                    <% if (id != null && removable) { %>
                    {{
                        UI.deleteButton({
                            'aCss': 'no-hash',
                            'id': 'btn-remove-schedulerevent',
                            'dataMessage': 'oro.calendar.delete_event.confirmation'|trans,
                            'title': 'oro.scheduler.delete_event.title'|trans,
                            'label': 'Delete'|trans,
                            'data': {'action-name': 'delete'}
                        })
                    }}
                    <% } %>
                    <% if (id == null || (id != null && editable)) { %>
                    <button class="btn" type="button" data-action-name="edit">{{ 'oro.ui.edit'|trans }}</button>
                    <% } %>
                    {% placeholder scheduler_event_widget_view_actions_jstemplate %}
                </div>
            </div>
        </div>
    </div>
</script>
{% endmacro %}

{% macro scheduler_event_form_template(id, form) %}
<script type="text/html" id="{{ id }}">
    {% import 'OroUIBundle::macros.html.twig' as UI %}
    {% set data = [
            form_row(form.panelView),
            form_row(form.client),
            form_row(form.start),
            form_row(form.end),
            form_row(form.status),

            form.owner is defined ? form_row(form.owner) : ''
        ]
    %}
    <div class="widget-content">
        <div class="alert alert-error" style="display: none;"></div>
        <form id="{{ form.vars.id }}" name="{{ form.vars.name }}" action="#">
            {% set options = {
                'view':'cbscheduler/js/app/views/scheduler-event-form-view',
                'nativeMode': isMobileVersion()
            } %}
            <div data-page-component-module="oroui/js/app/components/view-component"
                 data-page-component-options="{{ options|json_encode }}"
                 data-layout="separate">
                <fieldset class="form-horizontal">
                    {{ UI.scrollSubblock(null, data, true, false)|oro_js_template_content|raw }}
                    <div class="widget-actions form-actions" style="display: none;">
                        <% if (id != null && removable) { %>
                        {{
                            UI.deleteButton({
                                'aCss': 'no-hash',
                                'id': 'btn-remove-schedulerevent',
                                'dataMessage': 'oro.calendar.delete_event.confirmation'|trans,
                                'title': 'oro.calendar.delete_event.title'|trans,
                                'label': 'Delete'|trans,
                                'data': {'action-name': 'delete'}
                            })
                        }}
                        <% } %>
                        <button class="btn" type="reset">{{ 'Cancel'|trans }}</button>
                        <% if (id == null || (id != null && editable)) { %>
                        <button class="btn btn-primary" type="submit">{{ 'Save'|trans }}</button>
                        <% } %>
                    </div>
                </fieldset>
            </div>
        </form>
        {{ oro_form_js_validation(form)|oro_js_template_content|raw }}
    </div>
</script>
{% endmacro %}
