{% extends 'OroUIBundle:actions:view.html.twig' %}
{% import 'OroUIBundle::macros.html.twig' as UI %}
{% import 'OroEntityConfigBundle::macros.html.twig' as entityConfig %}

{% block stats %}
    <li>
        {{ 'oro.ui.created_at'|trans }}:
        {{ entity.createdAt ? entity.createdAt|oro_format_datetime : 'N/A'|trans }}
    </li>
    <li>
        {{ 'oro.ui.updated_at'|trans }}:
        {{ entity.updatedAt ? entity.updatedAt|oro_format_datetime : 'N/A'|trans }}
    </li>
{% endblock %}

{% oro_title_set({params : {"%entity.name%": entity.id|default('N/A') }}) %}

{% block navButtons %}
    {% if resource_granted('EDIT', entity) %}
        {{ UI.editButton({
        'path' : path('cb_scheduler_scheduler_event_update', { id: entity.id }),
        'entity_label': 'cb.scheduler.scheduler_event.entity_label'|trans
        }) }}
    {% endif %}
    {% if resource_granted('DELETE', entity) %}
        {{ UI.deleteButton({
        'dataUrl': path('cb_api_delete_schedulerevent', {'id': entity.id}),
        'dataRedirect': path('cb_scheduler_scheduler_event_index'),
        'aCss': 'no-hash remove-button',
        'id': 'btn-remove-user',
        'dataId': entity.id,
        'entity_label': 'cb.scheduler.scheduler_event.entity_label'|trans
        }) }}
    {% endif %}
{% endblock navButtons %}

{% block pageHeader %}
    {% set breadcrumbs = {
    'entity': entity,
    'indexPath': path('cb_scheduler_scheduler_event_index'),
    'indexLabel': 'cb.scheduler.scheduler_event.entity_plural_label'|trans,
    'entityTitle': entity.id
    } %}

    {{ parent() }}
{% endblock pageHeader %}

{% block content_data %}
    {%- set scheduler_eventInformation -%}
    <div class="row-fluid form-horizontal">
        <div class="responsive-block">
            {{ UI.renderProperty('cb.scheduler.scheduler_event.start.label'|trans, entity.start|oro_format_date) }}
            {{ UI.renderProperty('cb.scheduler.scheduler_event.end.label'|trans, entity.end|oro_format_date) }}
            {{ UI.renderProperty('cb.newage.panel.entity_label'|trans, entity.panelView.panel.name) }}
            {{ UI.renderProperty('cb.newage.panel_view.entity_label'|trans, entity.panelView.name) }}
            {{ UI.renderProperty('cb.newage.campaign.entity_label'|trans, entity.campaign.title) }}
            {{ UI.renderProperty('Reservation Item'|trans, entity.reservationItem ? entity.reservationItem.id : 'N/A') }}
        </div>
        <div class="responsive-block">
            {{ entityConfig.renderDynamicFields(entity) }}
        </div>
    </div>
    {%- endset -%}
    {% set dataBlocks = [
    {
    'title': 'cb.scheduler.scheduler_event.block.general'|trans,
    'class': 'active',
    'subblocks': [
    {'data' : [scheduler_eventInformation]}
    ]
    }
    ] %}


    {% set id = 'scheduler_eventView' %}
    {% set data = { 'dataBlocks': dataBlocks } %}

    {{ parent() }}
{% endblock content_data %}
