{% extends 'OroUIBundle:actions:view.html.twig' %}
{#{% import 'CBSchedulerBundle::templates.html.twig' as schedulerTemplates %}#}

{% set name = entity.owner|oro_format_name|default('N/A') %}
{% oro_title_set({params : {"%username%": name, "%schedulername%": entity.name|default(name) }}) %}

{% block navButtons %}{% endblock navButtons %}

{% block breadcrumb %}
    {#{% if breadcrumbs is not defined %}#}
        {#{% set breadcrumbs = [{'label': 'cb.scheduler.entity_label'|trans }] %}#}
        {#{% if entity.name is not empty %}#}
            {#{% set breadcrumbs = breadcrumbs|merge([{'label': entity.name}]) %}#}
        {#{% endif %}#}
    {#{% endif %}#}
    {#{% include 'OroNavigationBundle:Menu:breadcrumbs.html.twig' %}#}
{% endblock breadcrumb %}

{% block pageHeader %}
    {% if breadcrumbs is not defined %}
        {% set breadcrumbs = {'entityTitle': 'cb.scheduler.entity_label'|trans } %}
    {% endif %}
    {{ parent() }}
{% endblock pageHeader %}

{% block stats %}{% endblock stats %}

{% block content_data %}
    {#{% set schedulerOptions = {#}
    {#scheduler: entity.id,#}
    {#schedulerOptions: scheduler,#}
    {#eventsItemsJson: render(path('cb_api_get_schedulerevents', {scheduler: entity.id, start: startDate|date('c'), end: endDate|date('c'), subordinate: true})),#}
    {#eventsOptions: {#}
    {#defaultDate: 'now'|date('c', oro_timezone()),#}
    {#'containerSelector': '.scheduler-events',#}
    {#'itemViewTemplateSelector': '#template-view-scheduler-event',#}
    {#'itemFormTemplateSelector': '#template-scheduler-event',#}
    {#'leftHeader': 'prev,next today',#}
    {#'centerHeader': 'title',#}
    {#'rightHeader': 'timelineDay,timelineWeek,timelineMonth,timelineYear',#}
    {#},#}
    {#colorManagerOptions: {#}
    {#colors: oro_config_value('oro_calendar.calendar_colors')#}
    {#}#}
    {#}#}
    {#%}#}

{#<div class="row-fluid form-horizontal" id="scheduler"#}
         {#data-page-component-module="cbscheduler/js/app/components/scheduler-component"#}
         {#data-page-component-options="{{ schedulerOptions | json_encode }}">#}

        {#<div class="filter-box oro-clearfix-width">sdada</div>#}


        {#<div class="oro-page-sidebar search-entity-types-column dropdown">#}
            {#<a href="javascript: void(0);" class="dropdown-toggle" data-toggle="dropdown">#}
                {#<i class="icon-filter"></i>#}
                {#Select schedulers#}
                {#<i class="icon-sort-down"></i>#}
            {#</a>#}
            {#<div class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">#}
                {#<div class="schedulers">#}
                    {#<div class="scheduler-connections"></div>#}
                    {#<form action="#">#}
                        {#{{ form_row(user_select_form) }}#}
                    {#</form>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
    {#<div class="responsive-block">#}
        {#<div class="scheduler-events"></div>#}
        {#</div>#}
    {#</div>#}
    {#<script type="text/html" id="template-scheduler-menu">#}
        {#{{ oro_menu_render('scheduler_menu') }}#}
    {#</script>#}

    {#<script type="text/html" id="template-scheduler-connections">#}
        {#<ul class="oro-page-menu-items connection-container">#}
        {#</ul>#}
    {#</script>#}

    {#<script type="text/html" id="template-scheduler-connection-item">#}
        {#<li class="connection-item<% if (visible) { %> active<% } %>" >#}
            {#<div class="pull-right">#}
                {#<div class="connection-menu-container dropdown pull-left icons-holder">#}
                    {#<a href="javascript: void(0);" class="icons-holder-text no-hash context-menu-button">#}
                        {#<i class="icon-ellipsis-horizontal"></i>#}
                    {#</a>#}
                {#</div>#}
            {#</div>#}
            {#<a href="javascript: void(0);" class="no-action">#}
                {#<span#}
                {#<% if (visible) { %>#}
                {#class="scheduler-color"#}
                {#<% if (!_.isEmpty(backgroundColor)) { %>#}
                {#style="background-color: <%- backgroundColor %>; border-color: <%- backgroundColor %>"#}
                {#<% } %>#}
                {#<% } else { %>#}
                {#class="scheduler-color un-color"#}
                {#<% } %>#}
                {#></span>#}
                {#<span class="user-scheduler" title="<%- schedulerName %>"><%- schedulerName %></span>#}
            {#</a>#}
        {#</li>#}
    {#</script>#}

    {#{{ schedulerTemplates.scheduler_event_view_template('template-view-scheduler-event') }}#}
    {#{{ schedulerTemplates.scheduler_event_form_template('template-scheduler-event', event_form) }}#}

    <div class="row-fluid form-horizontal">
        <div class="responsive-block">

            <div id="calendar"></div>
        </div>
    </div>

    <script type="text/javascript">
        require(['jquery', 'moment', 'fullscheduler', 'fullcalendar', 'routing', 'oro/dialog-widget'],
                function ($, moment, fullscheduler, fullcalendar, routing, DialogWidget) {

                    $(window).load(function() { // document ready
                        $('#calendar').fullCalendar({

                            aspectRatio: 1.9,
                            slotDuration: {days: 1},
                            allDayDefault: true,
                            weekNumbers: true,

                            schedulerLicenseKey: 'GPL-My-Project-Is-Open-Source',

                            header: {
                                left: 'today prev,next',
                                center: 'title',
                                right: 'timelineDay,timelineWeek,timelineMonth,timelineYear'
                            },

                            defaultView: 'timelineMonth',

                            eventClick: function(calEvent, jsEvent, view) {

                                alert('Event: ' + calEvent.title);
                                alert('Coordinates: ' + jsEvent.pageX + ',' + jsEvent.pageY);
                                alert('View: ' + view.name);

                                // change the border color just for fun
                                $(this).css('border-color', 'red');

                            },

                            dayClick: function(date, jsEvent, view, resource) {

                                var widget = new DialogWidget({
                                    'url': routing.generate('cb_scheduler_event_add', {panelView: resource.id, start: date.format()}),
                                    'title': 'Add Event',
                                    stateEnabled: false,
                                    dialogOptions: {
                                        'modal': true,
                                        'allowMinimize': false,
                                        'width': 900,
                                        'autoResize':false
                                    }
                                });
                                widget.render();

                                alert('Clicked on: ' + date.format() + ' resource: ' + resource.id);
                            },

                            views: {
                            },
                            resourceAreaWidth: '15%',
                            resourceColumns: [
                                {
                                    labelText: 'Fata panou',
                                    field: 'name'
                                }
                            ],
                            resources: {
                                url: routing.generate('cb_newage_panel_view_api_get_panel_views')
                            },

                            events: routing.generate('cb_api_get_scheduler_events')
                        });
                    });
                }
        );
    </script>
{% endblock content_data %}